<!doctype html>

<html lang="nl">
<head>
  <meta charset="utf-8">

  <title>Login - Battle</title>
  <meta name="theme-color" content="#ffffff" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="English Battle">
  <meta name="author" content="P*ssy Squad">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" media="screen and (max-width: 600px)" href="css/mobile.css">
  <link rel="icon" href="assets/favicon.png" type="image/png">

</head>

<body>

  <div class="wrapper">

    <header>
      <div class="headerContainer">
        <a class="marginAll headerText">Log in</a>
        <a class="marginAll" id="welcomeMessage"></a>
        <a class="marginAll">Log in to continue.</a>
      </div>
    </header>

    <section>
      <div class="centerContainer">
        <div class="whiteCard">
            <input id="userField" class="textfield" type="name" placeholder="Username"/>
            <input id="passwordField" class="textfield" type="password" placeholder="Password"/>
            <a id="loginBtn" class="button">Log in</a>
        </div>
      </div>
    </section>

    <footer>
      <div class="footerDiv">
        <a class="footerText" >Gemaakt door P*ssy Squad</a>
        <img class="footerLogo" src="assets/pussy.png" />
      </div>
    </footer>

  </div>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase-firestore.js"></script>
  <script src="js/home.js"></script>
  <script src="js/nav.js"></script>
  <script src="js/fb.js"></script>
  <script src="js/login.js"></script>
</body>
</html>
