.footerDiv {
  display: none;
}

.loaderText {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  font-size: 25px;
}

.headerContainer {
  margin: auto;
  margin-top: 3%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 70%;
  height: auto;
}

.whiteCard {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto !important;
}

.smallCard {
  padding: 10px;
  background-color: rgb(244, 66, 66);
  border-radius: 10px;
  margin: 5px;
  font-weight: bold;
  transition: all 0.15s ease;
}

.centerContainer {
  width: auto;
}

.splashscreenDiv {
  width: 100%;
  margin: auto;
}

.lobbyContainer {
  width: 80%;
  height: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: none;
}

.playersDiv {
  height: 100%;
  flex-direction: column !important ;
}

.playerCard {
  width: 200px;
  height: 60px;
}
