@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font-family: Quicksand;
  background-color: rgb(244, 66, 66);
  color: white;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 0;
}
.wrapper {
  display: none;
  height: 100%;
  width: 100%;
}

.headerText {
  font-size: 30px;
}

.centerContainer {
  width: 80%;
  height: 80%;
  padding-bottom: 10%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.playersDiv {
  width: 80%;
  height: 60%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.lobbyContainer {
  width: 80%;
  height: 60%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: none;
}

.gameContainer {
  width: 80%;
  height: 80%;
  padding-bottom: 10%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: none;
}

.headerContainer {
  margin: auto;
  margin-top: 1%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 25%;
  height: auto;
  margin-bottom: 5%;
}
.mainImage {
  width: 10%;
  height: 10%;
}

.marginAll {
  margin: 20px;
}



footer {
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerDiv {
  width: auto;
  background-color: white;
  position: fixed;
  bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.footerLogo {
  width: 40px;
  height: 40px;
  margin: auto;
  margin-left: 5px;
}

.footerText {
  margin: auto;
  font-size: 18px;
  margin-right: 5px;
}


.whiteCard {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.smallCard {
  padding: 10px;
  background-color: rgb(244, 66, 66);
  border-radius: 10px;
  position: relative;
  width: 150px;
  height: 70px;
  margin: 10px;
  font-weight: bold;
  transition: all 0.15s ease;
}

.smallCard:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.playerCard {
  padding: 10px;
  background-color: rgb(244, 66, 66);
  border-radius: 10px;
  position: relative;
  width: 220px;
  height: 180px;
  margin: 10px;
  font-weight: bold;
  transition: all 0.15s ease;
}

.popupDiv {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  display: none;
  z-index: 9999;
  margin: auto;
}

.loader {
  width: 70px;
  transition: all 0.4s ease;
  margin: auto;
  display: none;
}

.pageLoader {
  text-align: center;
  width: 120px;
  transition: all 0.4s ease;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
}

.loaderText {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  font-size: 40px;
}
.splashscreenDiv {
  width: 40%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
}


.leftSide {
  width: 60%;
  height: 70px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: center;
  padding: 10px;
}

.rightSide {
  width: 40%;
  height: 70px;
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
}

#logoutBtn {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  margin: 0px;
  background-color: white;
}


.textfield {
  background-color:  rgb(244, 66, 66);
  color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  margin: 10px;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}

.textfield::placeholder {
  color: white;
}
.button {
  background-color:  rgb(244, 66, 66);
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  margin: 10px;
  border: none;
  outline: none;
  transition: all 0.15s ease;
  color: white;
}

.button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.textBig {
  font-size: 25px;
}

.textSmall {
  font-size: 18px;
}
